@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300;400;700&display=swap");

/* font-family: 'Bebas Neue', cursive;
font-family: 'Lato', sans-serif; */

:root {
  --ws: 1rem;
  --bckg-c: #b3c7ee;
  --attention-c: #8763d4;
  --hover-c: #f374f7;
  --col-4: #98d3d6;
  --col-5: #b5f5ce;
  --font-h: "Bebas Neue", cursive;
  --font-p: "Lato", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--font-p);
  /* line-break: anywhere; */
  overflow-y: scroll;
}

header,
footer {
  background-color: var(--bckg-c);
}

/* font sizes - https://type-scale.com/ golden ratio */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-h);
  padding: var(--ws) 0;
  padding-bottom: 0;
}

h1 {
  /* font-size: 11.089rem; */
  /* font-size: 6.854rem; */
  font-size: 26.1vw;
  /* padding-top: calc(3 * var(--ws)); */
  padding-top: 8vw;
  /* grid-column: 1 / -1; */
  overflow-x: hidden;
}
header h2 {
  transform: translateY(-7vw); /* !! */
}
h2 {
  /* font-size: 4.236rem; */
  font-size: 9.5vw;
  padding-top: 0;
}

h3 {
  font-size: 2.618rem;
}

h4,
figcaption {
  font-size: 1.618rem;
}

figcaption {
  font-weight: bold;
}

h5,
p {
  font-size: 1rem;
}

footer,
small,
.text_small,
h6 {
  font-size: 0.618rem;
}

h1 span {
  display: inline-block;
  color: var(--col-5);
  transform: translateY(-40vw);
}

h1 span:first-child {
  animation: anim-r-in-header 800ms ease 600ms forwards;
}

@keyframes anim-r-in-header {
  0% {
    transform: translateY(-200px) scaleX(2) rotate(360deg);
  }
  100% {
    transform: translateY(-10vw) scaleX(-1) rotate(-30deg);
  }
}

h1 span:last-child {
  animation: anim-2-in-header 800ms ease 1000ms forwards;
}

@keyframes anim-2-in-header {
  0% {
    transform: translateY(-200px) scaleX(2) rotate(30deg);
  }
  100% {
    transform: translateY(-10vw) scaleX(1) rotate(330deg);
  }
}
h2 span:first-child {
  animation: fadeInOut 3s infinite alternate-reverse;
}

h2 span.wear {
  position: absolute;
  left: 0;
  opacity: 0;
  animation: fadeInOut 3s infinite alternate;
  color: var(--col-5);
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  60% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

nav {
  transform: translateY(-9.7vw);
  position: sticky;
  top: 9.6vw;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 75%,
    rgba(255, 255, 255, 0.2) 100%
  );
  z-index: 100;
}

nav ol {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0 1rem;
}
nav ol li {
  /* padding: 1ch; */
  display: flex;
  align-items: center;
  /* height: 5ch; */
}

nav ol li a {
  text-decoration: none;
  color: var(--attention-c);
  transition: color 0.3s;
  /* background-color: var(--col-4); */
  /* align-self: stretch;
  display: flex;
  align-items: center; */
}
nav ol li a:hover {
  color: var(--hover-c);
  /* background-color: var(--col-5); */
}
nav > ol > li + li:before {
  content: ">";
  margin: var(--ws);
}

main {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  gap: 1rem;
}

.show-if-sold-out {
  display: none;
  grid-area: 1 / 1 / -1 /-1;
  z-index: 300;
  background-color: red;
  opacity: 1;
}

.sold-out .show-if-sold-out ~ * {
  background: grey;
  opacity: 0.2;
}

.sold-out .show-if-sold-out {
  display: block;
}

main > h2,
main > div:first-of-type {
  grid-column: 1 / -1;
}

main > picture > img {
  grid-column: 1 / 2;
}
picture {
  display: contents;
}
@media only screen and (min-width: 600px) {
  body {
    /* background-color: hotpink; */
  }
  nav ol {
    flex-direction: row;
  }

  nav ol li a {
    text-decoration: none;
    color: var(--attention-c);
    transition: color 0.3s;
    /* background-color: var(--col-4); */
    align-self: stretch;
    display: flex;
    align-items: center;
  }
}
